<template name="filters">
  <div class="filter-region">
      <!--Region: &nbsp;-->
      <span class="glyphicon glyphicon-map-marker"></span>
      <select id="regionID">
        <option value="" selected="selected">All regions</option> 
        <option value="Southeast Asia">Southeast Asia</option>
        <option value="Others">Others</option>
      </select>
    </div>
      
    <div class="filter-PU">
      <!--Partner university: &nbsp;-->
      <span class="glyphicon glyphicon-education"></span>
      <select id="partnerUniID">
        <option value="" selected="selected">All universities</option> 
        <option value="Nanyang Technological University">Nanyang Technological University</option>
      </select>
    </div>
</template>