<template name = "mapping">
  <div class = "panel-group">
    <div class = "panel panel-default" data-toggle = "collapse" href= {{id PUModuleCode}}>
      <h4 class = "panel-title">
        <a><span><strong>{{PUModuleCode}}</strong> {{ModuleName}}</span></a>
        <div class="details">
        {{UniversityName}}<br>{{Region}}
        </div>
        <div class="similarity-index pull-right">
          {{#if wasPrevMatch PrevMatch}}
            <span class="glyphicon glyphicon-ok-sign"></span>
          {{/if}}
          {{Similarity}}%
        </div>
                            
      </h4>
    </div>
    <div id = {{PUModuleCode}} class = "panel-collapse collapse">
      <div class = "panel-body">
      {{PUSyllabus}}<br>
      <br><a href="{{Link}}" target="_blank">Click here to go to module website</a>
      </div>
    </div>
  </div>
</template>