<template name = "mapping">
    <div class = "panel-group">
        <div class = "panel panel-default">
            <h4 class = "panel-title">
                <a data-toggle = "collapse" href= {{id PUModuleCode}}><span>{{PUModuleCode}}</span></a>
                <div class="similarity-index"> 
                <p>50% &#10004;</p>
                </div>
                <p>NTU</p>
                
            </h4>
        </div>
        <div id = {{number PUModuleCode}} class = "panel-collapse collapse">
            <div class = "panel-body">-Module details-</div>
        </div>
    </div>
</template>