<template name="search">
  <nav class="search-container">
    <div class="search-input">
    <span class="glyphicon glyphicon-search"></span>
      <input type="text" name="search" class="form-control" placeholder="Search for a module...">
    </div>
    
    <div class="filter-region">
      Region: &nbsp;
      <select id="regionID">
        <option value="" selected="selected">All</option> 
        <option value="Southeast Asia">Southeast Asia</option>
        <option value="Others">Others</option>
      </select>
    </div>
      
    <div class="filter-PU">
      Partner university: &nbsp;
      <select id="partnerUniID">
        <option value="" selected="selected">All</option> 
        <option value="Nanyang Technological University">Nanyang Technological University</option>
      </select>
    </div>
  </nav>

  {{#if noSearch}}
    {{>startUp}}
  {{/if}}

  <div class= "searched-mod">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#each module in nusmods}}
        {{> nus module}}
      {{/each}}
    {{/if}}
  </div>

  <ul class="list-group">
    <h3 class="results-header"> Results </h3>
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{toLoadMore}}
      {{#each module in modules}}
        {{> mapping module}}
      {{else}}
        {{notToLoadMore}}
        <p class="alert alert-warning">Nothing found for {{query}}.</p>
      {{/each}}

      {{#if hasModules}}
        {{> loadMore}}
      {{/if}}
      
    {{/if}}
  </ul>
</template>