<template name="search">
  <div class="page-header clearfix">
    <h4 class="pull-left">Results</h4>
    <div class="pull-right">
      <input type="text" name="search" class="form-control" width="250px" placeholder="Search for a module...">
    </div>
  </div>

  <ul class="list-group">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#each module in modules}}
        {{> mapping module}}
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}.</p>
      {{/each}}
    {{/if}}
  </ul>
</template>