<template name="search">
  <nav class="search-container">
    <div class="search-input">
    <span class="glyphicon glyphicon-search"></span>
    {{> inputAutocomplete settings=settings id="searchBox" class="input-xlarge" placeholder="Search for a module..."}}
    </div>

      <button class="toggleFilter">Filters</button>
      {{#if filterVisibility}}
        {{> filters}}
      {{/if}}

  </nav>

  {{#if noSearch}}
    {{> startUp}}
  {{/if}}

  <div class= "searched-mod">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#if getMod}}
        {{> nus getMod}}
      {{/if}}
    {{/if}}
  </div>

  <ul class="list-group">
    <h3 class="results-header"> Results </h3>
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{toLoadMore}}
      {{#each module in modules}}
        {{> mapping module}}
      {{else}}
        {{notToLoadMore}}
        <p class="alert alert-warning">Nothing found for {{query}}.</p>
      {{/each}}

      {{#if hasModules}}
        {{> loadMore}}
      {{/if}}
      
    {{/if}}
  </ul>
</template>

<template name="eachItem">
    <span class="label" style="color:black; font-size: 12px; font-family: 'Open Sans'">{{ModuleCode}}</span>
</template>