<template name="startUp">

  <div class="startUp-NUS">
  	<h2>NUS Module Information</h2>
  	<h3>Information for the NUS module that you are looking for</h3>
  </div>

  <div class="startUp-PU">

  	<h2>Partner University (PU) Module Information</h2>
    <h3>Key in an NUS module code to see similar PU modules and their information</h3>
    <div class="sample">
    	<h3>Modules will be shown in collapsible panels:<br><br>
    	<span class="glyphicon glyphicon-ok-sign" id="sample-ok"></span> &mdash; Module was previously mapped<br><br>Percentage represents the similarity between the PU module and NUS module that was searched</h3>
    	{{> mapping sample}}
    </div>
  </div>
</template>