body {
  color: #414141;             
  background-color: #EEEEEE;   
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 7px;
  padding: 10px;
  /* block of code below to auto fit page to window size
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}

h3 {
  padding-top: 10px;
}


.search { 
  padding:6px 15px 6px 30px;
  margin:3px; 
  /*background: url('search.png') no-repeat 8px 6px;*/
}

.rounded { 
  height: 34px;
  width: 200px;
  border-radius: 3px;  
  font-size: 15px;
}

.search-box input[type=text]{
  border:1px solid #acb1b7;
  background-color:#fcfcfc;
}

.index-search #searches {
  padding-top: 25px;
}

.index-search #filters {
  padding-top: 25px;
  font-size: 15px;
}

.index-search #filters > p{
  padding-top: 5px;
  font-size: 14px;
}

.logo {
    position: absolute;
    left: 0px;
    padding: 4px;
    width: 200px
}

.resultsSearch #searches{
	/*display: inline-block;
  margin-left: 10%;
  padding-top: 0px;
  padding-right: 20px;
  top: -10%;
  position: relative;*/
  position: relative;
  top: -55px;
  left: 210px;

}

.resultsHeader {
  position: relative;
  top: 70px;
  left: 10px;
}

.resultsSearch #filters{
  /*display: inline-block;
  padding-top: 0px;
  padding-left: 20px;*/
  position: relative;
  top: -87px;
  left: 445px;
}

.resultsSearch #filters > p {
  display: inline-block;
}

.panel-group {
  position: relative;
  top: 5px;
  left: 8px;
  margin-right: 25px;
}

.panel-title {
  height: 55px;
}

.panel-title p {
  font-size: 13px;
  color: gray;
  margin-left: 9px;
  margin-top: 9px;
  position: relative;
  top: -27px;
}

select {
    height: 27px;
    width:170px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    padding:2px;
    font-size: 13px;
}

span {
  position: relative;
  top: 8px;
  left: 8px;
}

.similarity-index > p {
  position: relative;
  left: -30px;
  top: -10px;
  font-size: 20px;
 text-align: right;
}